.nexus-ui-session-status {
	--nexus-ui-session-status-color: var(--neutral-a4);
}

.nexus-ui-session-status__dot {
	background: var(--nexus-ui-session-status-color);
}

.nexus-ui-session-status--neutral .nexus-ui-session-status__dot {
	visibility: hidden;
}

.nexus-ui-session-status--running {
	--nexus-ui-session-status-color: var(--primary);
}

.nexus-ui-session-status--error {
	--nexus-ui-session-status-color: var(--error-text);
}
